# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Django
*.log
*.pot
*.pyc
*.mo
db.sqlite3
media/
staticfiles/
local_settings.py

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride

# PyCharm
*.iml
*.ipr
*.iws
.idea/

# Coverage / Testing
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
test_results/

# Migrations (optional, uncomment if you don’t want them tracked)
# */migrations/*.py
# !*/migrations/__init__.py

# Docker
*.pid
*.seed
*.pid.lock
docker-compose.override.yml

# Heroku
*.orig
*.bak
*.swp
runtime.txt
