asgiref==3.9.1
dj-database-url==3.0.1
Django==4.2.7
gunicorn==23.0.0
packaging==25.0
psycopg2-binary==2.9.10
python-decouple==3.8
sqlparse==0.5.3
whitenoise==6.10.0
django-prometheus==2.3.1
prometheus-client==0.19.0

